body {
    margin: 0vw;
    padding: 0vw;
}

nav {
    background-color: #10243B;
    color: white;
    padding: 0vw 0vw .9vw 0vw;
}

ul {
    list-style-type: none;
    padding: 5px 0px;
    display: inline;
}

ul li {
    font-size: .9vw;
    display: inline;
    padding: .4vw .9vw;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    
}

.maristnavlogo {
    height: 2vw;
    padding: 0vw 0vw 0vw 0vw;
}

#leftbluenav {
    background-color: #005983
}

a {
    text-decoration: none;
    color: white;
    
}

#herobackground {
    height: 10vw;
    width: 10vw;
}