body {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #10243B;
    color: white;
    padding: 0vw 0vw .5vw 0vw;
}

ul {
    list-style-type: none;
    padding: .04vw 0vw;
    display: inline;
}

ul li {
    font-size: .9vw;
    display: inline;
    padding: .9vw;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    
}

.maristnavlogo {
    height: 2vw;
    padding: 0px 0px 0px 0px;
}

#leftbluenav {
    background-color: #005983
}

a {
    text-decoration: none;
    color: white;
    
}

#hero {
    height: 100vh;
    width: 100vw;
    background-image: url(images/graduation.jpg);
    background-size: cover;
    background-position: center;
}

#herocchslogo {
    position: relative;
    top: 100px;
    left: 25px;
}

#herotext {
    position: absolute;
    top: 170px; 
    left: 200px;
    Color: white;
    text-shadow: 1px 1px black;
}


